@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    margin: 0em;
    font-family: "Noto Sans", sans-serif;
}

h1, h2, h3, h4, h5{
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav-link{
    font-family: "Amaranth", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
}

.nav-link:hover, .ir-a-mapa:hover{
    color: #015905;
    text-decoration: none;
}

.ir-a-mapa{
    text-decoration: solid;
    font-weight: 500;
    color: #015905;
}

.cover{
    height: 500px;
    background-image: url(fondoinicio.jpg);
    color: white;
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: darken;
}

.cover-small{
    height: 200px;
    background-blend-mode: normal;
}

.card{
    border: 0 !important;
    box-shadow: 0 4px 6px -1px rgba(1,89,5,255), 0 2px 4px -1px rgba(0,0,0,0.01);
    /*box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0,0,0,0.06);*/
    display: inline-block;
    cursor: default;
}

.cardCoffe{
    border: 0 !important;
    box-shadow: 0 4px 6px -1px rgba(1,89,5,255), 0 2px 4px -1px rgba(0,0,0,0.01);
    display: inline-block;
    cursor: default;
    transition: all 400ms ease;
}

.cardCoffe:hover{
    box-shadow: 5px 8px 12px 1px rgba(1,89,5,255), 5px 6px 8px 1px rgba(0,0,0,0.03);
    transform: translateY(-3%);
}

.card-title{
    min-height: 3rem;
}

.card-text{
    min-height: 10rem;
}

.product-stripe, .slider{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.slider{
    overflow-x: hidden;
}

.slider-conteiner{
    transform:translateX(0);
    display: flex;
}

.stripe-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.stripe-container .card{
    width: 300px;
    flex-shrink: 0;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.stripe-container .cardCoffe{
    width: 300px;
    flex-shrink: 0;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.responsive-iframe{
    position: relative;
    padding-top: 56.25%;
}

.responsive-iframe iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slider{
    overflow-x: hidden;
}

.slider-conteiner{
    transform: translateX(0);
    animation: slider 10s infinite;
}

.image-container{
    width: 100%;
    padding-top: 56.25%;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
}

@keyframes slider{
    0%{
        transform: translateX(0);
    }

    20%{
        transform: translateX(0);
    }

    25%{
        transform: translateX(-100%);
    }

    45%{
        transform: translateX(-100%);
    }

    50%{
        transform: translateX(-200%);
    }

    70%{
        transform: translateX(-200%);
    }

    75%{
        transform: translateX(-300%);
    }

    95%{
        transform: translateX(-300%);
    }

    100%{
        transform: translateX(0);
    }
}

.avatar{
    width: 120px;
    height: 120px;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
        display: flex;
        width: 90%;
        justify-content: space-evenly;
        margin: auto;
        padding-bottom: 50px;
        border-bottom: 1px solid #ccc;
}

.content-foo {
    text-align: center;
}

.titulo-final, .title-foo {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

#cw{
    color: rgba(255, 255, 255, 0.863);
}

